body{
    background: linear-gradient(to left, purple,pink);
}

button{
    font-size: larger;
}

.wrapper{
    align-self: center;
    text-align: center;
    padding-top: 2vh; 
}

#heading{
    color:black;
    font-size: 3.5rem;
}

.middle{
    width: 80%;
    font-size: 2.5rem;
    padding-right: 5vh !important;
    margin-right: 15vh !important;
}